@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<input type="button"
       value="Go Somewhere Else"
       onclick="location.href='<%: Url.Action(" Create", "HomeController" ) %>'" />
<p>Use this area to provide additional information.</p>
